<div class="container">
  <% unless @casts.empty? %>
    <%= render 'refills/cards', resources: @casts %>
    <%= render 'refills/pagination', resources: @casts %>
  <% else %>
    <h1>You are not currently following any podcasts <%= link_to "Find One", explore_index_path %>.</h1>
  <% end %>
</div>
