<div class="container">
  <% unless @stories.empty? %>
    <%= render 'home/story', stories: @stories %>
    <%= render 'refills/pagination', resources: @stories %>
  <% else %>
    <h1>You are not currently following any podcasts <%= link_to "Find One", explore_index_path %>.</h1>
  <% end %>
</div>
