<div class="container">
  <table class="table-minimal">
    <tbody>
      <% @stories.each do |story| %>
        <%= render 'home/story', story: story %>
      <% end %>
    </tbody>
  </table>
  <%= render 'refills/pagination', resources: @stories %>
</div>
