.container {
    @include outer-container;
    section { @include span-columns(12); }
}

.read-port {
    @include outer-container;
    max-width: 740px;
    padding-top: 50px;
    font-size: 1.12em;
    line-height: 1.6;
    h1 {
        font-size: 1.50em;
        line-height: 1.2;
        margin: 0 0 0.6em;
    }
    sub {
        color: grey
    }
    audio {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
