.container {
    @include outer-container;
    padding-top: 1em;
    font-size: 1.12em;
    line-height: 1.6;

    h1 {
        font-size: 1.50em;
        line-height: 1.2;
        margin: 0 0 0.6em;
    }
    sub {
        color: grey
    }
    table {
        td {
            font-size: 0.8em;
        }
    }
    .profile {
        img {
            display: block;
            margin: auto;
            width: 20%;

        }

        h1 {
            text-align: center;
        }
    }

    .follow-button {
        display: inline-block;
    }
}

.read-port {
    @include outer-container;
    max-width: 740px;


    audio {
        width: 89%;
        margin: 1em;
    }
    .square-logo {
        max-height: 5em;
        max-width: 10%
    }
}
