<div class="cards">
  <% resources.each do |resource| %>
    <% cache resource do %>
      <div class="card">
        <%= link_to resource do %>
          <div class="card-image">
            <%= image_tag resource.display_image %>
          </div>
          <div class="card-header">
            <%= resource.display_title %>
          </div>
          <div class="card-copy">
            <%= truncate(resource.itunes_summary, length: 200) %>
          </div>
      </div>
        <% end %>
    <% end %>
  <% end %>
</div>
