<div class="pagination">
  <ul>
    <li class="page-prev"><%= link_to_previous_page resources, 'Prev' %></li>
      <li>
        <a><%= page_entries_info resources %></a>
      </li>
    <li class="page-next"><%= link_to_next_page resources, 'Next' %></li>
  </ul>
</div>
